.tag {
  color: #000000;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  border-radius: 2px;
  padding: 0 7px;
  margin: 0 8px 8px 0;
  cursor: pointer;
}

.tag--active {
  background: #1890ff;
  color: #ffffff;
}

.tag--disabled {
  background: #EEEEEE;
  color: #9E9E9E;
}
