.button {
  border: 0;
  line-height: 1.5;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  height: 32px;
  background: #ffffff;
  color: #000000;
  border-radius: 2px;
  transition: all 0.3s;
  border: 1px solid;
  margin-left: 4px;
}

.button--primary {
  background: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
}

.button--secondary {
  background: #ffffff;
  color: #1890ff;
  border-color: #1890ff;
}
