.dialog-root {
  position: relative;
}

.dialog-background {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.dialog {
  display: block;
  width: 400px;
  height: 160px;
  padding: 12px;
  border-radius: 2px;
  background: #ffffff;
  margin-left: calc(50% - 200px);
  margin-top: calc((100vh / 2) - 80px);
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.17);
}

.dialog-header {
  display: flex;
}

.dialog-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.dialog-bottom {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 0;
  right: 0;
}